# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

jobs:
  test:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, ubuntu-24.04-arm]
        swift: ["6.0", "6.1", "6.2", "main-snapshot", "6.3-snapshot"]
    steps:
      - uses: actions/checkout@v3
        name: Checkout repository
      - uses: swift-actions/setup-swift@v3
        with:
          swift-version: ${{ matrix.swift }}
          skip-verify-signature: true
        name: Set up Swift
      - name: Test package
        run: swift test